<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <nav>
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('about') }}">About</a>
                <a href="{{ url_for('crawling') }}">Crawling</a> <!-- Menu untuk crawling -->
                <a href="{{ url_for('deteksi') }}">Deteksi Berita</a> <!-- Menu untuk deteksi berita -->
            </nav>
        </aside>                      
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
    <footer>
        <p>&copy; 2024 My Flask App</p>
    </footer>
</body>
</html>